#dateParentBox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}
.dateChildBox{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    width: fit-content;
}