#dateParentBox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}
.dateChildBox{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    width: fit-content;
}

input[type="date"] {
    appearance: textfield;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    padding: 0.5em;
    width: 180px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* input[type="date"]::before {
	color: #999999;
	content: attr(placeholder);
}
input[type="date"] {
	color: #ffffff;
}
input[type="date"]:focus,
input[type="date"]:valid {
	color: #666666;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
	content: "" !important;
} */